<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">
<h1 th:text="${'Employer: ' + employer.name}">Default Title</h1>

<div th:replace="fragments :: page-header"></div>

<div class="job-listing">
    <p th:text="'Name: ' + ${employer.name}"></p>
    <p th:text="'Location: ' + ${employer.location}"></p>
</div>
<a th:href="@{'/list/jobs?column=employer&value=' + ${employer.name}}" class="btn btn-primary">View Related Jobs</a>
<a th:href="@{'/search'}" class="btn btn-primary">Search Employers</a>
<a th:href="@{'/employers/add'}" class="btn btn-primary">Add Employers</a>
</body>
</html>