<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>

<body class="container body-content">
<h1 th:text="${'Skill: ' + skill.name}">Default Title</h1>

<div th:replace="fragments :: page-header"></div>

<div class="job-listing">
    <p th:text="${'Name: ' + skill.name}"></p>
    <p th:text="${'Description: ' + skill.description}"></p>
</div>
<a th:href="@{'/list/jobs?column=skill&value=' + ${skill.name}}" class="btn btn-primary">View Related Jobs</a>
<a th:href="@{'/search'}" class="btn btn-primary">Search Skills</a>
<a th:href="@{'/skills/add'}" class="btn btn-primary">Add Skills</a>
</body>
</html>